<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="index-background">
    <div class="container std-vertical-padding index-content">
      <% messages.forEach((message) => { %>
        <a class="index__message-link" href=<%= `/messages/${message.id}` %>>
          <h2 class="index__message-user"><%= message.user %></h2>
          <div class="index__message-added"><%= message.added.toDateString() %></div>
          <p class="index__message-text"><%= message.text %></p>
        </a>
        <hr />
      <% }) %>
    </div>
  </div>
</body>
</html>