<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="index-background">
    <div class="container std-vertical-padding index-content">
      <% messages.forEach((message) => { %>
        <a class="index__message_link" href=<%= `/messages/${message.id}` %>>
          <h3><%= message.user %></h3>
          <small><%= message.added.toDateString() %></small>
          <p><%= message.text %></p>
        </a>
        <hr />
      <% }) %>
    </div>
  </div>
</body>
</html>