<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="container std-vertical-padding message-content">
    <header class="message-content__header">
      <h2 class="page-heading"><%= message.username %></h2>
      <a href="/delete/<%= message.id %>">
        <button class="message-content__delete-button" type="button">
          <img src="/icons/delete_icon.svg" alt="Delete" />
        </button>
      </a>
    </header>
    <div class="message-content__added">
      <%= new Intl.DateTimeFormat('en-GB', {
        weekday: 'short',
        year: 'numeric',
        month: 'short',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      }).format(message.added) %>
      </div>
    <p class="message-content__text"><%= message.text %></p>
  </div>
</body>
</html>