<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="container std-vertical-padding message-content">
    <h2><%= message.user %></h2>
    <small><%= message.added.toDateString() %></small>
    <p><%= message.text %></p>
  </div>
</body>
</html>