<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="container std-vertical-padding message-content">
    <h2 class="page-heading"><%= message.user %></h2>
    <div class="message-content__added"><%= message.added.toDateString() %></div>
    <p class="message-content__text"><%= message.text %></p>
  </div>
</body>
</html>